@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
.search, .cart{
    height: 40px;
    width: 40px;
    padding:10px;
}
#header{
    position: relative;
    min-height: 120vh;
    background:linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)),
                     url("https://images.pexels.com/photos/724216/pexels-photo-724216.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat fixed center;
    
}

header img{
    color: #e78200;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 5%;
}
.logos{
    
    margin-right: auto;
}
.logos h3{
    color: #e78200;
    font-family: "Montserrat", sans-serif;
    font-size: 20px
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0 60px;
}
.nav_links li a{
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: #0088a9;
    border-bottom: #0088a9 2px solid;
    font-weight: bold;
    transform: scale(1.5);
    /* font-size: 22px; */
}
.search:hover{
    color: #0088a9;
    cursor: pointer;
}
.cart{
    color: #0088a9;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
.content h2{
    font-family:  "Pacifico", sans-serif;
    font-size: 60px;
    color: #fff;
    margin-top: 120px;
}
.content h5{
    color: #fff;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}
.content button,  .images button, #next_section2 button, .famous button, .form button{
    background: #0088a9; 
    border: none;
    color: #fff;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px 0 0 0;

}
.content button:hover{
    color: #0088a9;
    background: #fff;
}
#next_section{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(
        rgba(20,20,20, .5), 
        rgba(20,20,20, .5)),
        url("https://images.pexels.com/photos/1146760/pexels-photo-1146760.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500") no-repeat fixed center;
    position: relative;
    z-index: 1; 
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 5%;
    
}
.images h1, .images2 h1, .famous h1{
    z-index: 2;
    font-size: 70px;
    font-family: "Pacifico";
    color: #0088a9;
}
.images h3, .images2 h3, .famous h4{
    z-index: 2;
    font-size: 40px;
    color: #e78200;
    font-family: "Montserrat";
    margin: -60px 0 0 30px;
}

.images p, .images2 p{
    color: #edf0f1;
    font-size: 18px;
    margin: 20px;
    line-height: 1.5;
    width: 60%;
}
#next_section2{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(
        rgba(20,20,20, .5), 
        rgba(20,20,20, .5)),
        url("https://images.pexels.com/photos/905847/pexels-photo-905847.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500") no-repeat fixed center;
    position: relative;
    z-index: 1; 
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /padding: 20px 5%;/
}
.images, .images2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 50px 30px 30px 30px;
    
}
.famous{
    width: 100%;
    margin: 0 auto;
    min-height: 110vh;
    background:linear-gradient(
        rgba(20,20,20, .5), 
        rgba(20,20,20, .5)),
        url("https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat fixed center;
    position: relative;
    z-index: 1; 
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 0;
}
.famous h1 {
    z-index: 2;
    font-size: 80px;
    font-family: "Pacifico";
    color: #0088a9; 
}
.famous button{
    margin-bottom: 30px;
}
.contentt{
    padding-bottom: 50px;
}

.photos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.photos div{
    width: 280px;
    padding: 10px;
}
.famous h3{
    z-index: 2;
    font-size: 25px;
    color: #e78200;
    font-family: "Montserrat";
    margin: 10px;
}

.photos p{
    color: #edf0f1;
    font-size: 16px;
    /* margin: 20px; */
    line-height: 1.5;
    width: 250px;
}
.form{
    min-height: 40vh;
    background: #edf0f1;
    text-align: center;
}
.form input{
    height: 50px;
    width: 300px;
    background: transparent;
    border: none;
    border-bottom: #e78200 2px solid;
    margin: 0 10px 0 10px;
}


.form h1 {
    z-index: 2;
    font-size: 50px;
    font-family: "Pacifico";
    color: #0088a9; 
}
.form button{
    margin-bottom: 30px;
}
.ending{
    padding: 20px;
    color: #fff;
    background-color: #e78200;
    text-align: center;
}

#social_icons {
    padding: 10px;
  }
  
  #social_icons img {
    padding: 3px;
  }

@media only screen and (max-width: 760px) {
    nav {
      display: none;
    }
    .images p{
        width: 70%;
    }
  }
